body {
  background-color: #241b0cff;
  color: rgb(244, 163, 12);
}

.bg-negocity {
  background-color: #241b0cff;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  object-position: 0 0;
}

.window {
  color: rgb(244, 163, 12);
  border: 2px solid rgb(244, 163, 12);

  margin: 10px;
}

.window > div {
}

.window h3 {
  font-size: 16px;
  font-weight: bolder;
}

.window h4 {
  font-size: 15px;
  font-weight: bolder;
}

.resumeImg {
  width: 100px;
  height: 100px;
}
