table {
  border-collapse: collapse;
  margin: auto;
}

td {
  padding: 5px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  font-size: 30px;
  text-align: center;
}

#fila1 td {
  border-bottom: 2px solid #000;
}

#fila2 td {
  border-bottom: 2px solid #000;
}

td:first-child {
  border-right: 2px solid #000;
}

td:nth-child(2) {
  border-right: 2px solid #000;
}


#tablero {
  display: flex;
  width: 400px;
  margin: auto;
  background-color: rgb(201, 201, 201);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

#tablero div {
  flex: 1;
}