#container {
  width: 80%;
  margin: auto;
}

#container table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#container table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}


td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr.parell {
  background-color: #eee;
}
tr:hover {
  background-color: #ddd;
}

div.container {
  width: 80%;
  margin: auto;
}

div.container table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

div.container td {
  border: 1px solid #ddd;
  padding: 8px;
}


div.container tr:hover {background-color: #ddd;}

div.container th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #94aa04;
  color: white;
}

tr.parell {
  background-color: #f2f2f2;
}