<div id="container">
  <div id="search">
    Filtrar: <input type="text" [(ngModel)]="filtre" (change)="filtrar()" />
  </div>
  <table>
    <tr>
      <th (click)="ordenar('id')">Foto</th>
      <th (click)="ordenar('nom')">Nom</th>
      <th>PDF</th>
    </tr>
    <tr
      *ngFor="let punto of datos; let parell = even"
      [ngClass]="{ parell: parell }"
    >
      <td>
        <img [src]="punto.properties.foto" class="foto" />
      </td>
      <td>
        <a [href]="punto.properties.web_turismo">{{
          punto.properties.descripcio
        }}</a>
      </td>
      <td [innerHTML]="punto.properties.pdf"></td>
    </tr>
  </table>
</div>
