table {
  border-collapse: collapse;
  margin: auto;
}

td {
  padding: 5px;
}

#fila1 td {
  border-bottom: 1px solid #000;
}

#fila2 td {
  border-bottom: 1px solid #000;
}

td:first-child {
  border-right: 1px solid #000;
}

td:nth-child(2) {
  border-right: 1px solid #000;
}
