#container {
  display: flex;
}

#juego {

}

#learning {
  border: 2px solid #444;
  margin-left: 10px;
  border-radius: 5px;
  width: 100%;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
  padding: 5px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  font-size: 30px;
  text-align: center;
}

#fila1 td {
  border-bottom: 2px solid #000;
}

#fila2 td {
  border-bottom: 2px solid #000;
}

td:first-child {
  border-right: 2px solid #000;
}

td:nth-child(2) {
  border-right: 2px solid #000;
}


#tablero {
  display: flex;
  width: 400px;
  margin: auto;
  background-color: rgb(201, 201, 201);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

#tablero div {
  flex: 1;
}

#log {

  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: auto;
  background-color: rgb(228, 228, 228);
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 20px;
}

#log div span{
  display: block;
}

#log div span.number {
  font-size: 30px;
}

#menace_wins {
  flex: 1;
}
#draws {
  flex: 1;
}
#human_wins {
  flex: 1;
}

#graph {
  width: 100%;
  background-color: #fff;
  height: 200px;
}


#ajust{
  display: flex;
  flex-wrap: wrap;
}

div.boardadjust{
  margin: 2px;
  font-family: monospace;
  
}

div.boardadjust td {
  padding: 0px;
  width: 12px;
  height: 12px;
  cursor:auto;
  font-size: 8px;
  text-align: center;
  border: 1px solid #000;
}

div.boardadjust div.hoverNumber {
  display: none;
}

div.boardadjust:hover  div.hoverNumber{
  display: block;
  position: absolute;
 
  background-color: white;
}


div.destacada {
  background-color: aqua;
}

td.seleccionada {
  background-color: brown;
}