<mat-toolbar color="primary">
  <button
    class="mat-focus-indicator mat-icon-button mat-button-base"
    mat-icon-button
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Negocity</span>

  <div>
    <a mat-button [routerLink]="'/global'"> Global </a>
    <a mat-button [routerLink]="'/login'"> Login </a>
  </div>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="mat-icon-button mat-button-base"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    class="mat-icon-button mat-button-base"
    mat-icon-button
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
