body{
  background-color: #241b0cff;
   color: rgb(244, 163, 12);
}

.bg-negocity {
  background-color: #241b0cff;
 }


.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  object-position: 0 0;
}


.window {
  position: relative;
  width: 700px;
  height: 406px;
  background-image: url('./img/ui/fondo_window.png');
  color: rgb(244, 163, 12);
}

.window h3{
  margin-left: 155px;
  padding-top: 5px;
}

.window h4 {
  font-size: smaller;

}

.window .buildings {
  margin-left: 10px;
  position: absolute;
  top: 25px;
  left: 10px;
  width: 125px;
  height: 300px;

}
.window .survivors {
  margin-left: 10px;
  position: absolute;
  top: 50px;
  left: 150px;
  width: 350px;
  height: 310px;
}

.window .vehicles {
  margin-left: 10px;
  position: absolute;
  top: 25px;
  left: 500px;
  width: 170px;
  height: 310px;
}

.window .vehicles h4{
  margin-left: 20px;
}


.resumeImg {
  background-image: url('./img/ui/fondoimg.png');
  width: 100px;
  height: 100px;
}