<form [formGroup]="edificiForm" novalidate>
  <input
    type="text"
    formControlName="descripcio"
    class="form-control"
    name="descripcio"
    [ngClass]="descripcioNoValida"
  />
  <div class="alert alert-danger" *ngIf="descripcioNoValida == 'is-invalid'">
    Descripción requerida (entre 5 y 60 caracteres)
  </div>
  <input
    type="text"
    formControlName="pdf"
    class="form-control"
    name="pdf"
    [ngClass]="pdfNoValid"
  />
  <div class="alert alert-danger" *ngIf="pdfNoValid == 'is-invalid'">
    PDF invalid
  </div>
  <input
    type="text"
    formControlName="foto"
    class="form-control"
    name="foto"
    [ngClass]="fotoNoValida"
  />
  <div class="alert alert-danger" *ngIf="fotoNoValida == 'is-invalid'">
    Foto no valida
  </div>
</form>

<p>{{ edificiForm.value | json }}</p>
<p>{{ edificiForm.get("descripcio")?.errors | json }}</p>
<p>{{ edificiForm.get("pdf")?.errors | json }}</p>
